* {
  font-family: poppins;
}
body {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ede6f6;
  background-image: url("C:\Users\Hp\Documents\React Projects\form\form\src\assets\3699921.jpg");
  background-size: cover;
  height: 100%;
}
